@{
    ViewData["Title"] = "Escolha do Tipo de Jogo";
}
<h1 class="contorno">Escolha do Tipo de Jogo</h1>

<a asp-action="NovaTentativaAutonoma" class="botaoMinecraft">AUTOMÁTICO</a>
<a asp-action="NovaTentativa" class="botaoMinecraft">MANUAL</a>
<br />
<a asp-controller="Home" class="botaoMinecraft">VOLTAR</a>

