@{
    ViewData["Title"] = "Pagina Principal";
}
<img src="~/images/logoGrande.png" alt="Logotipo Grande do projeto" />
<br />
<br />

<a asp-controller="Jogo" class="botaoMinecraft">JOGAR</a>
<br />
<a asp-controller="Apresentacao" class="botaoMinecraft">APRESENTAÇÔES</a>
<br />
<a asp-action="Hiscores" class="botaoMinecraft">HISCORES</a>

