@{
    ViewData["Title"] = "Equipa";
}

<div>
    <h2 class="text-center">Apresentação da Equipa</h2>
</div>

<div class="text-center">
    <img src="~/images/logo.jpg" alt="Logo da Equipa" class="imagemCarousel" />
</div>
<div class="well">
    <p class="textoPreto">O nosso nome é comerestus e adotámos este nome inspirado por uma banda de thrash metal, hard rock, e punk rock fundada em Setúbal no ano de 1986: "Comme Restus". Esta equipa é composta por três elementos: João Pereira, Pedro Duarte e Tiago Almeida e juntos viemos criar a melhor versão do jogo "7 Passos", porque desafios como este são pão nosso de cada dia!</p>
    <p class="text-left"><a href="https://github.com/orgs/ESCE-GSI/teams/comerestus" class="btn btn-success">GitHub</a></p>
</div>
<a asp-action="Index" class="botaoMinecraft">VOLTAR</a>


