
@{
    ViewData["Title"] = "Apresentacao";
}
<div class="row">
    <div class="col-md-3">
        <img class="imagemPerfil" src="~/images/comerestus-logo.jpg" />
    </div>
    <div class="col-md-9 text-justify">
        <h2 class="contorno">Comerestus Team</h2>
        <p class="contorno apresentacao">O nosso nome é comerestus e adotámos este nome inspirado por uma banda de thrash metal, hard rock, e punk rock fundada em Setúbal no ano de 1986: "Comme Restus". Esta equipa é composta por dois elementos: João Pereira e Pedro Duarte e juntos viemos criar a melhor versão do jogo "7 Passos", porque desafios como este são pão nosso de cada dia!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-9 text-justify">
        <h2 class="contorno text-right">João Pereira</h2>
        <p class="contorno apresentacao">Olá!, sou o João Pereira tenho 20 anos e sou do Montijo, gosto de programar e de jogar e-sports nos meus tempos livres. Neste momento encontro-me a frequentar o segundo ano da Licenciatura de Gestão de Sistemas de Informação no Instituto Politecnico de Setúbal. Este projeto surge no âmbito da unidade curricular de Desenvolvimento de Aplicações II.</p>
    </div>
    <div class="col-md-3">
        <img class="imagemPerfil" src="~/images/pereira.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <img class="imagemPerfil" src="~/images/pedro.jpg" />
    </div>
    <div class="col-md-9 text-justify">
        <h2 class="contorno">Pedro Duarte</h2>
        <p class="contorno apresentacao">Sou o Pedro Duarte, tenho 21 anos, realizei este projeto juntamente com o meus colega no âmbito da unidade curricular de Desenvolvimento de Aplicações II do curso de Gestão de Sistemas de Informação o qual estou a frequentar. A ideia de seguir uma aparência inspirada no Minecraft foi sugerida por mim e aceite pelos meus colegas, surgiu devido às caracteristicas que nos eram exigidos pelo projeto, uma vez que as imagens de Minecraft existem em abundância na Internet, a preocupação de encontrar recursos visuais para o projeto seria facilitada.</p>
    </div>
</div>
<a asp-controller="Apresentacao" asp-action="Projeto7" class="botaoMinecraft">PROJETO 7 PASSOS</a>

<a asp-controller="Home" class="botaoMinecraft">VOLTAR</a>


