
@{
    ViewData["Title"] = "Pedro";
}

<div>
    <h2 class="text-center">Apresentação do Desenvovledor Pedro</h2>
</div>

<div class="text-center">
    <img src="~/images/pedro.jpg" alt="Imagem do Pedro" class="imagemCarousel" />
</div>
<div class="well">
    <p class="textoPreto">Sou o Pedro Duarte, tenho 21 anos, realizei este projeto juntamente com os meus dois colegas no âmbito da unidade curricular de Desenvolvimento de Aplicações II do curso de Gestão de Sistemas de Informação o qual estou a frequentar. A ideia de seguir uma aparência inspirada no Minecraft foi sugerida por mim e aceite pelos meus colegas, surgiu devido às caracteristicas que nos eram exigidos pelo projeto, uma vez que as imagens de Minecraft existem em abundância na Internet, a preocupação de encontrar recursos visuais para o projeto seria facilitada.</p>
    <p class="text-left"><a href="https://www.linkedin.com/in/pedro-duarte-20a70914a/" class="btn btn-primary">Linkedin</a> <a href="https://github.com/pedrolduart" class="btn btn-success">GitHub</a></p>
</div>
<a asp-action="Index" class="botaoMinecraft">VOLTAR</a>

