
@{
    ViewData["Title"] = "Pereira";
}

<div>
    <h2 class="text-center">Apresentação do Desenvovledor Pereira</h2>
</div>

<div class="text-center">
    <img src="~/images/pereira.jpg" alt="Imagem do Pereira" class="imagemCarousel" />
</div>
<div class="well">
    <p class="textoPreto">Olá!, sou o João Pereira tenho 20 anos e sou do Montijo, gosto de programar e de jogar e-sports nos meus tempos livres. Neste momento encontro-me a frequentar o segundo ano da Licenciatura de Gestão de Sistemas de Informação no Instituto Politecnico de Setúbal. Este projeto surge no âmbito da unidade curricular de Desenvolvimento de Aplicações II. </p>
    <p class="text-left"><a href="https://www.linkedin.com/in/jpereira99/" class="btn btn-primary">Linkedin</a> <a href="https://github.com/JPereira2870" class="btn btn-success">GitHub</a></p>
</div>
<a asp-action="Index" class="botaoMinecraft">VOLTAR</a>


