
@{
    ViewData["Title"] = "Projeto";
}

<div>
    <h2 class="text-center">Apresentação do Projeto</h2>
</div>

<div class="text-center">
    <img src="~/images/projeto.png" alt="Imagem do Projeto" class="imagemCarousel" />
</div>
<div class="well">
    <p class="textoPreto">Este é um projeto desenvolvido no âmbito da unidade curricular de Desenvolvimento de Aplicações II do 2º ano do curso de Gestão de Sistemas de Informação com o objetivo de aprofundar a matéria lecionada nas aulas mas também dando liberdade ao membros do grupo de experimentarem funcionalidades não lecionadas, mas que podem tornar o projeto mais interessante e exclusiso. Diferente do que acontece nas avaliaçõe através de testes, o desenvolvimento deste projeto explora a parte criativa dos membros exigindo um empenho não só na elaboração em concreto mas também para a conciliação das diferentes ideias de cada um de nós.</p>
    <p class="textoPreto">Para representar a área do jogo, a equipa usou prints de zonas/áreas de um bioma do "Minecraft"; cada uma das 7 zonas do jogo são distintas umas das outras, ou seja, prints diferentes . O corredor do "7 Passos" está representado através de um minimapa no canto superior direito assim que o jogador inicia um novo jogo; este minimapa mostra ao jogador a posição que o seu herói ocupa no momento (representado com uma mancha vermelha) e no final do corredor contém o desenho da porta que leva à saída. Nas zonas de jogo, o jogador terá uma experiência de 1ª pessoa e não poderá ver o corpo do seu herói.</p>
    <p class="text-left"><a href="https://github.com/ESCE-GSI/da2-2019-prj-set-comerestus" class="btn btn-success">GitHub</a></p>
    <p class="text-left"></p>
</div>
<a asp-action="Index" class="botaoMinecraft">VOLTAR</a>

